.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    position: relative;
    background-color: #06e5df;
    margin: auto;
    padding: 0;
    border: 5px solid #013533;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-body {
    padding: 2px 16px;
}

.close {
    font-size: 30px;
    font-weight: bold;
}

.selected {
    display: block;
    padding: .5rem 1rem;
    color: rgba(255,255,255,.55);
    text-decoration: underline;
}

