.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

.modal-content {
    position: relative;
    background-color: #a4bace;
    margin: 20px auto;
    padding: 20px 0;
    border: 5px solid #2c4d6a;
    width: 50%;
    box-shadow: 0 4px 8px 0 #0d6efd61, 0 6px 20px 0 #0d6efd61;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-body {
    padding: 2px 16px;
}

.close {
    font-size: 30px;
    font-weight: bold;
}

img {
    height: 200px;
    width: 150px;
}

.hidden {
    display: none;
}

.removeButton {
    text-decoration: none;
    color: black;
}

.inline {
    display: inline;
}

.form-control {
    margin: 5px 0;
}

.error {
    color: #6e0012;
}

.line {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 0 20px;
}

.bordered {
    border-style: ridge;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.imgButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 0 0;
}

.imgColumn {
    display: flex;
    flex-direction: column;
}

.form-control{
    width: fit-content !important;
    min-width: 300px !important;
    display: inline !important;
}

.isolated {
    padding: 0 0 15px;
}

.bt {
    width: fit-content;
}

.p-2 {
    align-items: center;
}